.top-title h1 {
    font-size: 2.5rem;
}

.top-title {
    padding: 20px 0;
}

.top-main-contents {
    padding: 20px 0;
}

.top-main-contents button {
    font-size: 1.5rem;
    padding: 40px 80px;
    border: 1px solid;
    border-bottom: 3px solid;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
}

.top-main-contents button:hover {
    border-bottom: 1px solid;
    transform: translateY(5px);
    box-shadow: 0px -5px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
}

.top-main-contents button:active {
    border-bottom: 3px solid;
    transform: translateY(10px);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.1)
}

.top-main-contents h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.top-main-contents button:hover h2,
.top-main-contents button:hover h3 {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.top-main-contents h3 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.top-login {
    margin: 40px 0;
}